*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body{
  background-color: #c2a8a8;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

/* HEADER */
header{
  background-color: #ffffff;
  color:rgb(174, 174, 175);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

header ul{
  list-style: none;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

header li a {
  text-decoration: none;
  margin-right: 10px;
  color: rgb(100, 100, 100);
}
header li a:hover{
  text-decoration: none;
  color: aquamarine;
}

/* MAIN */
main{
  padding: 20px;
}

section h3 {
  color: black;
}

section p {
  color: rgb(255, 255, 255)
}

section ol{
  display: grid;
  /* margin-left: 20px;  */ 
  list-style: none;  
}

section ol li{
  border-radius:10px;
  padding: 10px;
  margin: 5px 0;
  background-color:rgb(106, 154, 196);
  display: flex;
  flex-direction: column;
}
/* FOOTER */
footer{
  background-color: #ca5353;
  color: aliceblue;
  text-align: center;
  padding: 10px 0;
  
}
